In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

data = '../data/car.data'

df = pd.read_csv(data, header=None)

df.shape

(1728, 7)

In [2]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [4]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'car_safety', 'class']


df.columns = col_names


df['buying'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [ ]:



X = df.drop(['class'], axis=1)

y = df['class']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)


import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'car_safety'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

# from sklearn.ensemble import RandomForestClassifier
# rfc = RandomForestClassifier(random_state=0)


# rfc.fit(X_train, y_train)

# y_pred = rfc.predict(X_test)

# from sklearn.metrics import accuracy_score

# print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))